@using MovieExplorer.Web.ViewModels.Movies
@using MovieExplorer.Common
@model IEnumerable<MovieViewModel>

<a class="btn-secondary d-md-inline-block" asp-controller="Home" asp-action="Index" asp-route-id="@this.User.Identity.Name">Movie online</a>

<h3>These movies for this genre</h3>
<div class="row">
    @foreach (var item in this.Model)
    {
        @await Html.PartialAsync("_PartialViewMovie", item)
    }
</div>
