@using MovieExplorer.Web.ViewModels.Genres
@model GenreInputModel
    <h1 class="text-light">Create Genre</h1>

    <form class="m-md-auto" asp-controller="Genre" asp-action="Create" method="post">
        @if (this.TempData.ContainsKey("MessageErrorGenre"))
        {
            <div class="alert alert-danger">
                @this.TempData["MessageErrorGenre"]
            </div>
        }
        <div class="form-group">
            <label asp-for="Name" class="text-light">Genre</label>
            <input asp-for="Name" class="form-control col-md-5" />
            <span asp-validation-for="Name" class="alert-danger"></span>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Create Genre</button>
        </div>
    </form>