@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@this.ViewData["Title"]</h1>

<p class="text-light">Movie Explorer Privacy: </p>
<p class="text-light"># You can watch all the movies our site provides for free!</p>
<p class="text-light"># You are allowed to share the movies.</p>
<p class="text-light"># You are not allowed to use the site's information for personal goals.</p>
<p class="text-light"># You are not allowed to use the site's data.</p>