@using MovieExplorer.Web.ViewModels.Directors
@model DirectorInputModel
<h1 class="text-light">Create Director</h1>

<form class="m-md-auto" asp-controller="Director" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="FirstName" class="text-light">FirstName</label>
        <input asp-for="FirstName" class="form-control col-md-5" />
        <span asp-validation-for="FirstName" class="alert-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="text-light">LastName</label>
        <input asp-for="LastName"  class="form-control col-md-5"/>
        <span asp-validation-for="LastName" class="alert-danger" ></span>
    </div>

    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-success">Create Director</button>
    </div>
</form>